<style>
md-dialog .md-dialog-content {
    padding: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

table {
	border: none;
}

tr td {
	background: url('images/cupboard/p2.jpg') 100% 100% no-repeat;
	background-size: cover;
}

tr td:first-child {
	background: url('images/cupboard/p1.jpg') 100% 100% no-repeat;
	background-size: cover;
}

tr td:last-child {
	background: url('images/cupboard/p3.jpg') 100% 100% no-repeat;
	background-size: cover;
}
</style>
<md-dialog id="cupboardEdit"> <md-toolbar>
<div class="md-toolbar-tools">
	<h2>{{item.name_en}}/{{item.name_uk}}</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()"> x </md-button>
</div>
</md-toolbar> <md-dialog-content>
<div class="md-dialog-content">
	<h1>{{cupboardCells.length}}</h1>

	<table border="0" cellspacing="0" cellpadding="0">
		<tr ng-repeat="row in item.board_count | range">
			<td ng-repeat="cell in item.values"><img width="100" height="100"
				src="{{cupboardCells[row * item.values.length + $index].img}}"
				title="{{cupboardCells[row * item.values.length + $index].name_en}}"><p>{{cupboardCells[row * item.values.length + $index].name_en}}</p></td>
		</tr>
	</table>

	<md-dialog-actions layout="row"> <span flex></span>
	<md-button ng-click="cancel()">Ok</md-button> </md-dialog-actions>
</div>
</md-dialog-content> </md-dialog>

