.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

.green-btn {
	background-color: green !important;
}

.red-btn {
	background-color: red !important;
}

.logo, .logo img {
	height: 50px;
}


/* SignUp fields*/

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.custom-label {
	display: block;
	color: rgba(0,0,0,0.38);
}

.vertical-divider {
	height: 100%;
	border-left: 1px solid rgba(0,0,0,0.38);
}

.inputdemoErrors md-input-container>p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}


/* Product list */

.chipsdemoContactChips md-content.autocomplete {
    min-height: 250px;
}

.chipsdemoContactChips md-content.autocomplete input {
    min-width: 400px;
}

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsdemoContactChips .contact-item {
    box-sizing: border-box;
}

.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3,
.chipsdemoContactChips .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media ( min-width: 960px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px;
}

.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: hidden;
}


/*Date picker*/

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}


/* Footer */

footer {
    background-color: #ccc;
}

 .inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }
.inputdemoIcons {
    /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/
}

.inputdemoIcons .inputIconDemo {
    min-height: 48px;
}

.inputdemoIcons md-input-container:not (.md-input-invalid) >md-icon.email {
    color: green;
}

.inputdemoIcons md-input-container:not (.md-input-invalid) >md-icon.name {
    color: dodgerblue;
}

.inputdemoIcons md-input-container.md-input-invalid>md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid>md-icon.name {
    color: red;
}




.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/*     Button    */

.float-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 25px;
}

.social-button {
	margin: 10px;
}

.social-img {
	width: 40px;
}

.support-container {
	
}

.support {
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 3px;
}

.support-img {
	width: 30px;
}

.down-but {
	transform: rotate(180deg);
}
