<md-dialog >
<form ng-cloak name="mapForm">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{ 'CREATE_NEW_MAP' | translate }}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel(values)">
		x </md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<form name="mapCreatForm" ng-controller="CreateMapDialogController">
			<div lanyout="row">
				<md-input-container flex> <label>{{ 'ENGLISH_NAME' | translate }}</label> <input name="name_en" type="text"
					ng-model="name_en" required ng-pattern="/^[a-zA-Z][a-zA-Z0-9-'\s]+$/" ng-maxlength="50"></md-input-container>
				<md-input-container flex> <label>{{ 'UKRAINE_NAME' | translate }}</label>
<!-- THIS LONG PATTERN SHOULD BE IN ONE LINE!!!!! OTHERWISE IT MIGHT NOT WORK	-->
				<input name="name_uk" type="text" ng-model="name_uk" required  ng-maxlength="50"
				ng-pattern="/^[\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u049\u0404\u04541a-zA-Z][a-zA-Z\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u0491\u0404\u04541\s0-9-']+$/">
				</md-input-container>
			</div>
			<div lanyout="row">
				<md-input-container flex>
				<label>{{ 'WIDTH' | translate }}</label> <input name="width"
					type="number" ng-model="weight" required min="2" max="150"></md-input-container>
				<md-input-container>
				<md-input-container flex>
				<label>{{ 'HEIGHT' | translate }}</label> <input name="height"
					type="number" ng-model="height" required min="2" max="150"></md-input-container>
				<md-input-container>
				</div>
			</md-input-container>

			<md-dialog-actions layout="row"> <span flex></span>
			<md-button ng-click="cancel()"> {{ 'CANCEL' | translate }} </md-button> <md-button
				 type="submit" ng-click="createNewMap()" ng-disabled="mapForm.$invalid"> {{ 'SAVE' | translate }} </md-button></md-dialog-actions>
		</form>
</form>
</md-dialog>