<md-dialog id="cupboardEdit">
<form ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Edit cupboard {{item.id}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> x </md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout="row" ng-repeat="k in item.board_count | range">
			<md-input-container ng-repeat="i in item.values" flex>
			<label>{{k}}{{$index}}</label>
			<input type="text"></md-input-container>
		</div>
		</script>
		<md-dialog-actions layout="row"> <span flex></span>
		<div layout="row">
		<md-button ng-click="deleteCupboard(item)"> Delete </md-button> </md-dialog-actions>
		<md-button ng-click="answer(item, selectedType)"> Save </md-button> </md-dialog-actions>
		</div>
</form>
</md-dialog>
