<md-dialog>
<form ng-cloak method="POST" action="/EasyShopWayNew/type" enctype="multipart/form-data">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Edit Product</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> x </md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
	<input type="text" name="id" hidden ng-model="item.id">
		<md-input-container> <label>English name</label>
		<input name="name_en" type="text" required ng-model="item.nen"></md-input-container>

		<md-input-container> <label>Ukraine name</label>
		<input name="name_uk" type="text" required ng-model="item.nuk"></md-input-container>
		<br><md-input-container> <input type="file"
			ng-model="item.img" name="file" id="file" /> </md-input-container>
		<md-dialog-actions layout="row"> <span flex></span>

		<md-button type="submit"> Save </md-button></md-dialog-actions>
</form>
</md-dialog>