 <style>
table {
	border: none;
}

tr td {
	background: url('images/cupboard/p2.jpg') 100% 100% no-repeat;
	background-size: 100% 100%;
	height:100px; 
	weigth:150px; 
}

tr td:first-child {
	background: url('images/cupboard/p1.jpg') 100% 100% no-repeat;
	background-size: 100% 100%;
}

tr td:last-child {
	background: url('images/cupboard/p3.jpg') 100% 100% no-repeat;
	background-size: 100% 100%;
}
</style>
<md-dialog id="cupboardEdit">
<form ng-cloak name="cupboardForm">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{ 'EDIT_CUPBOARD' | translate }} {{item.id}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()">&#10006;</md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout="row">
			<md-input-container flex> <label>{{'ENGLISH_DESCRIPTION' | translate}}</label> <input type="text" ng-model="item.name_en"
			ng-pattern="/^[a-zA-Z][a-zA-Z0-9-'\s%#\\]+$/"> </md-input-container>
			<md-input-container flex> <label>{{'UKRAINE_DESCRIPTION' | translate}}</label> <input type="text" ng-model="item.name_uk"
			ng-pattern="/^[\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u049\u0404\u04541a-zA-Z][a-zA-Z\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u0491\u0404\u04541\s0-9-'%#\\]+$/">
			</md-input-container>
		</div>
		
		<table border="0" cellspacing="0" cellpadding="0">
		<tr ng-repeat="k in item.board_count | range">
			<td ng-repeat="i in item.values">
			<md-select ng-model="cupboardCells[k * item.values.length + $index]" flex placeholder="{{lang == 'en' ? cupboardCells[k * item.values.length + $index].name_en : cupboardCells[k * item.values.length + $index].name_uk}}" aria-label="place">
				<md-option value="">{{'NONE' | translate}}</md-option> 
				<md-option ng-repeat="p in allProducts  | orderBy : (lang == 'en' ? 'name_en' : 'name_uk')" value="{{p}}">{{lang == 'en' ? p.name_en : p.name_uk}}</md-option> 
			</md-select>
			</td>
		</tr>
	</table>
		
		<md-dialog-actions layout="row"> <span flex></span>
		<div layout="row">
			<md-button ng-click="clearCupboard()"> {{ 'CLEAR' | translate }}</md-button>
<!-- 			<md-button ng-click="deleteCupboard(item)"> {{ 'DELETE' | translate }}</md-button> -->
			<md-button ng-click="showCustomToast(item)"> {{ 'DELETE' | translate }}</md-button>
			<md-button ng-click="answer()" ng-disabled="cupboardForm.$invalid"> {{ 'SAVE' | translate }} </md-button>
		</md-dialog-actions>
	</div>
	</md-dialog-content>
</form>
</md-dialog>