<!-- <script src="js/index.js"></script> -->
<style>
    canvas {
        margin: 20px;
        display: block;
        cursor: pointer;
    }
</style>
<div ng-controller="MapCtrl">
    <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools">
            <div class="md-title">
                {{ 'ADMIN_CABINET_MAP' | translate }}
            </div>
        </div>
    </md-toolbar>

    <md-card>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Options</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">

            <div layout-md="column" layout-gt-md="row">
                <md-input-container flex>
                    <label>Select a map</label>
                    <md-select ng-model="someModel" placeholder="Select a map">

                        <md-option ng-click="createMap()">{{ 'ADD_NEW' | translate }}</md-option>
                        <md-option ng-model="m" value="{{_m.id}}" ng-click="clickOnSelect(_m.id)" ng-repeat="_m in mapsName">{{ _m.id }} {{_m.name_en}}</md-option>

                    </md-select>

                </md-input-container>

                <form layout-sm="column" layout-gt-sm="row">
                    <div layout-xs="column" layout-gt-xs="row">
                        <md-input-container flex>
                            <label>{{ 'WIDTH' | translate }}</label>
                            <input type="number" ng-model="config.width" min=2 max=400> </md-input-container>
                        <md-input-container flex>
                            <label>{{ 'HEIGHT' | translate }}</label>
                            <input type="number" ng-model="config.height" min=2 max=400> </md-input-container>
                    </div>
                    <div layout="column">
                        <md-button flex="none" ng-click="openMap()" class="md-raised">{{ 'CHANGE_SIZE' | translate }}</md-button>
                    </div>
                </form>
            </div>
            <div class="md-headline">Edit map</div>

            <md-radio-group name="type" layout="row" ng-model="data.group1" layout-sm="column">

                <md-radio-button value="payDesk" ng-click="radioOnClick('payDesk')" class="md-primary">{{ 'PAY_DESCK' | translate }}</md-radio-button>
                <md-radio-button value="cupBoard" ng-click="radioOnClick('cupBoard')" class="md-primary">{{ 'CUP_BOARD' | translate }}</md-radio-button>
                <md-radio-button value="enter" ng-click="radioOnClick('enter')" class="md-primary">{{ 'ENTER' | translate }}</md-radio-button>
                <md-radio-button value="wall" ng-click="radioOnClick('wall')" class="md-primary">{{ 'WALL' | translate }}</md-radio-button>
                <md-radio-button value="edit" ng-click="radioOnClick('edit')" class="md-primary">{{ 'EDIT' | translate }}</md-radio-button>

            </md-radio-group>

            

        </md-card-content>

			<md-card-actions layout="row" layout-xs="column" layout-align="end center" layout-align-xs="start start">
			
			<div layout="row" layout-xs="column" class="actions" >
				<span flex-offset-gt-sm="20" flex style="margin-right: 8px;"><a class="md-button md-primary md-raised" layout-margin id="download">Download</a></span>
                <md-button flex class="md-primary md-raised" ng-click="saveMap()">{{ 'SAVE' | translate }}</md-button>
                <md-button flex class="md-accent md-raised md-hue-2" ng-click="deleteMap($event)">{{ 'DELETE' | translate }}</md-button>
                <md-button flex class="md-accent md-raised md-hue-2" ng-click="clearMap()">{{ 'CLEAR' | translate }}</md-button>
                </div>          
            </md-card-actions>
			
			
    </md-card>


    <md-card>
        <md-card-content>


            <md-content style="background-color: white;">
            	
            
                <canvas id="canvas"></canvas>
            </md-content>
        </md-card-content>
    </md-card>

</div>