<!-- <script src="js/index.js"></script> -->
<style>
    canvas {
        margin: 20px;
        display: block;
        cursor: pointer;
    }
</style>
<div ng-controller="MapCtrl">
    <md-input-container>
        <md-select ng-model="someModel" placeholder="Select a map">
            <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
            <md-option>Add new
            </md-option>
        </md-select>
    </md-input-container>

    <form>
        <md-input-container>
            <label>Width</label>
            <input type="number" ng-model="config.width" min=2 max=1000> </md-input-container>
        <md-input-container>
            <label>Heigth</label>
            <input type="number" ng-model="config.height" min=2 max=1000> </md-input-container>
        <md-button ng-click="createNewMap()">Create new map</md-button>
    </form>
    <md-radio-group name="type" layout="row">
        <md-radio-button value="payDesk" ng-click="radioOnClick('payDesk')" class="md-primary">Pay Desk
        </md-radio-button>
        <md-radio-button value="cupBoard" ng-click="radioOnClick('cupBoard')" class="md-primary">Cup Board </md-radio-button>
        <md-radio-button value="enter" ng-click="radioOnClick('enter')" class="md-primary">Enter</md-radio-button>
        <md-radio-button value="wall" ng-click="radioOnClick('wall')" class="md-primary">Wall</md-radio-button>
        <md-radio-button value="edit" ng-click="radioOnClick('edit')" class="md-primary">Edit</md-radio-button>
    </md-radio-group>
    <md-button ng-click="onClick()">Go</md-button>
    <div>
        <canvas></canvas>
    </div>
    <md-button class="md-primary" ng-click="clearWay()">Clear</md-button>
    <div></div>
</div>