<script src="js/index.js"></script>
<style>
canvas {
	margin: 20px;
	display: block;
	cursor: pointer;
}
</style>
<div>
	<canvas></canvas>
</div>
<div>
	<label><input type="radio" value="payDesk" name="type"
		onclick="radioOnClick()">Pay Desk</label> <label><input
		type="radio" value="cupBoard" name="type" onclick="radioOnClick()">Cup
		Board</label> <label><input type="radio" value="enter" name="type"
		onclick="radioOnClick()">Enter</label> <label><input
		type="radio" value="wall" name="type" onclick="radioOnClick()">Wall</label>
	<label><input type="radio" value="edit" name="type"
		onclick="radioOnClick()">Edit</label>
	<button onclick="onClick()">Go</button>
</div>