<div ng-controller="TypeCtrl">

	<md-toolbar class="md-whiteframe-1dp">
	<div class="md-toolbar-tools">
		<div class="md-title">{{ 'PRODUCT_TYPE' | translate }}</div>
	</div>
	</md-toolbar>
	<!--Toolbar-->
	
	<md-card>
	
	<md-card-content layout="row"  ng-repeat="single in multisearchType">
	
	<md-input-container>  
	<label>{{ 'COLUMN' | translate }}</label>
		<md-select
		ng-model="single.column" ng-change="updateDataTableType()">
					<md-optgroup> 
						<md-option
		ng-value="column.name" ng-repeat="column in autocolumnType">{{column.display}}
						</md-option>
					</md-optgroup> 
				</md-select> 
			</md-input-container> 
	<md-input-container class="md-block" flex="">
		<label>{{ 'SEARCH' | translate }}</label>
	<input type="text" ng-change="updateDataTableType()" ng-model="single.ident">
	</md-input-container> 
	</md-card-content>
	
	
	</md-card>
	
	
	<md-card> <md-card-content layout="column" flex> <md-table-container>
	<md-button class="md-fab md-raised" ng-click="showPromptType(empty)"> + </md-button>
	<table md-table>
		<thead md-head md-order="queryType.order">
			<tr md-row>
				<th md-column>{{ 'IMAGE' | translate }}</th>
				<th md-column md-order-by="{{autocolumnType[0].name}}"><span>{{autocolumnType[0].display}}</span>
				<th md-column md-order-by="{{autocolumnType[1].name}}"><span>{{autocolumnType[1].display}}</span>
				</th>
				<th md-column>{{ 'OPTION' | translate }}</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row
				ng-repeat="row in datatableType.types | orderBy: queryType.order | limitTo: queryType.limit : (queryType.page -1) * queryType.limit">
				<td md-cell><img
					style="width: 128px; height: 128px; !important" src="{{row.img}}"></td>
				<td md-cell>{{row.nen}}</td>
				<td md-cell>{{row.nuk}}</td>
				<td><md-button ng-click="showPromptType(row)"
						class="md-fab md-mini md-primary"> <i
						class="material-icons">edit</i></md-button> <md-button
						ng-click="deleteType(row.id)" class="md-fab md-mini red-btn">
					<i class="material-icons">delete_forever</i> </md-button></td>
			</tr>
		</tbody>
	</table>
	</md-table-container> <md-table-pagination md-limit="queryType.limit"
		md-limit-options="limitOptionsType" md-page="queryType.page"
		md-total="{{datatableType.count}}"
		md-page-select="optionsType.pageSelect"></md-table-pagination> </md-card-content> </md-card>
</div>