<div ng-controller="ProdCtrl">

	<md-toolbar class="md-whiteframe-1dp">
	<div class="md-toolbar-tools">
		<div class="md-title">Product Type</div>
	</div>
	</md-toolbar>
	<!--Toolbar-->
	<md-card> <md-content flex="" layout-padding="">
	<md-whiteframe layout="row" ng-repeat="single in multisearchType">
	<md-input-container> <label>Column</label> <md-select
		ng-model="single.column" ng-change="updateDataTableType()">
	<md-optgroup label="Column"> <md-option
		ng-value="column.name" ng-repeat="column in autocolumnType">{{column.display}}</md-option>
	</md-optgroup> </md-select> </md-input-container> <md-input-container class="md-block" flex=""> <label>Search</label>
	<input ng-change="updateDataTableType()" ng-model="single.ident">
	</md-input-container> </md-whiteframe> </md-content> </md-card>
	<md-card> <md-content layout="column" flex> <md-table-container>
	<md-button class="md-fab md-raised" ng-click=""> + </md-button>
	<table md-table>
		<thead md-head md-order="queryType.order">
			<tr md-row>
				<th md-column>Image</th>
				<th md-column md-order-by="{{autocolumnType[1].name}}"><span>{{autocolumnType[1].display}}</span>
				<th md-column md-order-by="{{autocolumnType[2].name}}"><span>{{autocolumnType[2].display}}</span>
				</th>
				<th md-column>Option</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row
				ng-repeat="row in datatableType.types | orderBy: queryType.order | limitTo: queryType.limit : (queryType.page -1) * queryType.limit">
				<td md-cell><img
					style="width: 128px; height: 128px; !important" src="{{row.img}}"></td>
				<td md-cell>{{row.nen}}</td>
				<td md-cell>{{row.nuk}}</td>
				<td><md-button ng-click="showPromptType(row)"
						class="md-fab md-mini md-primary"> <i
						class="material-icons">edit</i></md-button> <md-button
						ng-click="deleteType(row.id)" class="md-fab md-mini red-btn">
					<i class="material-icons">delete_forever</i> </md-button></td>
			</tr>
		</tbody>
	</table>
	</md-table-container> <md-table-pagination md-limit="queryType.limit"
		md-limit-options="limitOptions" md-page="queryType.page"
		md-total="{{datatableType.count}}"
		md-page-select="optionsType.pageSelect"></md-table-pagination> </md-content> </md-card>



	<md-toolbar class="md-whiteframe-1dp">
	<div class="md-toolbar-tools">
		<div class="md-title">Products</div>
	</div>
	</md-toolbar>
	<!--Toolbar-->
	<md-card> <md-content flex="" layout-padding="">
	<md-whiteframe layout="row" ng-repeat="single in multisearchProd">
	<md-input-container> <label>Column</label> <md-select
		ng-model="single.column" ng-change="updateDataTableProd()">
	<md-optgroup label="Column"> <md-option
		ng-value="column.name" ng-repeat="column in autocolumnProd">{{column.display}}</md-option>
	</md-optgroup> </md-select> </md-input-container> <md-input-container class="md-block" flex=""> <label>Search</label>
	<input ng-change="updateDataTableProd()" ng-model="single.ident">
	</md-input-container> </md-whiteframe> </md-content> </md-card>
	<md-card> <md-content layout="column" flex> <md-button
		class="md-fab md-raised"
		ng-click="showPromptProd(datatableType.types)"> + </md-button> <md-table-container>
	<table md-table>
		<thead md-head md-order="queryProd.order">
			<tr md-row>
				<th md-column ng-repeat="column in autocolumnProd"
					md-order-by="{{column.name}}"><span>{{column.display}}</span>
				</th>
				<th md-column>Option</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row
				ng-repeat="row in datatable.prods | orderBy: queryProd.order | limitTo: queryProd.limit : (queryProd.page -1) * queryProd.limit">
				<td md-cell>{{row.tnen}}</td>
				<td md-cell>{{row.tnuk}}</td>
				<td md-cell>{{row.nen}}</td>
				<td md-cell>{{row.nuk}}</td>
				<td><md-button
						ng-click="showPromptProd(datatableType.types, row)"
						class="md-fab md-mini md-primary"> <i
						class="material-icons">edit</i></md-button> <md-button
						ng-click="deleteProd(row.id)" class="md-fab md-mini red-btn">
					<i class="material-icons">delete_forever</i> </md-button>
			</tr>
		</tbody>
	</table>
	</md-table-container> <md-table-pagination md-limit="queryProd.limit"
		md-limit-options="limitOptions" md-page="queryProd.page"
		md-total="{{datatable.count}}" md-page-select="optionsProd.pageSelect"></md-table-pagination>
	</md-content> </md-card>
</div>