<md-dialog aria-label="" ng-controller="LoginCtrl">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>LogIn</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> x </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content layout-padding>
                <form name="logForm" action="/login">
                    <md-input-container>
                        <label>Email</label>
                        <input id="emailL" type="email" ng-model="email" name="email" required  minlength="10" maxlength="100" > </md-input-container>
                    <br>
                    <md-input-container>
                        <label>Password</label>
                        <input id="passwordL" type="password" ng-model="password" name="password" required  minlength="6" maxlength="25" > </md-input-container>
                   	<br>
                    <span style="color : red" ng-bind="error"></span>
                    <div>
                        <md-button type="submit" ng-click='sendLoginData()'>Submit</md-button>
                    </div>

                </form>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>