<script src="js/jquery.validate.min.js"></script>
<md-dialog aria-label="Registration" ng-controller="SignUpCtrl">
    <md-toolbar layout="row">
    <h2 class="md-toolbar-tools">
	<span>{{ 'REGISTRATION' | translate }}</span>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()">&#10006;</md-button>
            </h2>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout="row">
                <form id="regForm"  layout-padding flex layout="column" ng-model="regForm" name="regForm">
                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <label>{{ 'FIRST_NAME' | translate }}</label>
<!-- THIS LONG PATTERN SHOULD BE IN ONE LINE!!!!! OTHERWISE IT MIGHT NOT WORK	-->
                        <input type="name" id="fName1" required name="firstName" ng-model="firstName" ng-maxlength="50"
                        ng-pattern="/^[\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u049\u0404\u04541a-zA-Z][a-zA-Z\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u0491\u0404\u04541\s-']+$/">
                    </md-input-container>
                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <label>{{ 'LAST_NAME' | translate }}</label>
                        <input id="lName1" required name="lastName" ng-model="lastName" ng-maxlength="50"
                         ng-pattern="/^[\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u049\u0404\u04541a-zA-Z][a-zA-Z\u0410-\u042F\u0430-\u044F\u0406\u0456\u0407\u0457\u0490\u0491\u0404\u04541\s-']+$/">
                    </md-input-container>
                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <label>{{ 'EMAIL' | translate }}</label>
                        <input id="emailR" required type="email" name="email" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    </md-input-container>

                    <md-input-container class="md-block" style="margin-top: 0; margin-bottom: 0;">
                        <label>{{ 'PASSWORD' | translate }}</label>
                        <input id="passwordR" required type="password" name="password" ng-model="password" minlength="6" maxlength="25">
                    </md-input-container>
                        <md-button type="submit" flex class="md-raised md-primary" ng-click="sendRegData()">{{ 'SUBMIT' | translate }}</md-button>

                </form>
                
<!--                 <div class="vertical-divider"></div> -->
                
                <div flex="30" layout="column" layout-align="center center" md-whiteframe="1">
                	<div align="center">{{ 'SIGN_UP_WITH_SN' | translate }}</div>
        <div layout="row">
            <a flex class="social-button" href="/EasyShopWayNew/google-plus-login">
                <img class="social-img" ng-src="images/social/g+.png"></img>
            </a>
            <a flex class="social-button" href="/EasyShopWayNew/vk-login">
                <img class="social-img" ng-src="images/social/vk.png"></img>
            </a>
        </div>
                </div>

            </md-content>
        </div>
    </md-dialog-content>
<!--     <md-dialog-actions  style="heigth: 60px;"> -->
        
<!--     </md-dialog-actions> -->
</md-dialog>