<md-dialog aria-label="Registration" ng-controller="SignUpCtrl">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Registration</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:400px;max-height:810px; ">
            <div layout="column" ng-cloak>
                <md-content layout-padding>
                    <form name="regForm" action="/reg">
                        <md-input-container class="md-block">
                            <label>First name</label>
                            <input required name="firstName" ng-model="firstName">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Last name</label>
                            <input required name="lastName" ng-model="lastName">
                        </md-input-container>

                        <div ng-app="MyApp" ng-controller="DatePickerCtrl">
                            <md-content>
                                <md-datepicker ng-model="myDate" md-placeholder="Enter date" name="myDate"></md-datepicker>
                            </md-content>
                        </div>

                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input required type="password" name="password" ng-model="password">
                        </md-input-container>
                        <div>
                            <md-button type="submit" ng-click="sendRegData()">Submit</md-button>
                        </div>

                    </form>
                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>