<script src="js/jquery.validate.min.js"></script>
<md-dialog aria-label="Registration" ng-controller="SignUpCtrl">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Registration</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:400px;max-height:810px; ">
            <div layout="column" ng-cloak>
                <md-content layout-padding>
                    <form id="regForm" ng-model="regForm" name="regForm" action="/reg">
                        <md-input-container class="md-block">
                            <label>First name</label>
                            <input type="name" id="fName1" required name="firstName" ng-model="firstName" pattern="[A-Za-z0-9]+">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Last name</label>
                            <input id="lName1" required name="lastName" ng-model="lastName">
                        </md-input-container>

                        <div ng-controller="DatePickerCtrl">
                            <md-content>
                                <md-datepicker md-open-on-focus="" datepicker-popup="@{{format}}" ng-model="dt" is-open="showdp" max-date="dtmax" id="birthday" md-placeholder="Enter date" name="myDate"></md-datepicker>
                            </md-content>
                        </div>

                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input id="emailR" required type="email" name="email" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input id="passwordR" required type="password" name="password" ng-model="password"  minlength="6" maxlength="25" >
                        </md-input-container>
                        <span style="color : red" ng-bind="error"></span>
                        <span style="color : green" ng-bind="success"></span>
                        <div>
                            <md-button type="submit" ng-click="sendRegData()">Submit</md-button>
                        </div>

                    </form>
                	<md-button href="/EasyShopWayNew/google-plus-login">Google</md-button>
                	<md-button href="/EasyShopWayNew/facebook-plus-login">Facebook</md-button>
                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>